<div class="container">
  <form>
    <div *ngFor="let b of behaviors">
      <input type="checkbox" name="behavior{{b.id}}" [(ngModel)]="b.checked"> {{b.name}}
      <label class="form-check-label" for="behavior{{b.id}}">{{b.name}}</label>

      <span *ngIf="b.checked">
        <input type="range" name="intensity{{b.id}}" min="1" max="10" [(ngModel)]="intensityByBehaviorId[b.id]" (change)="createBR(intensityByBehaviorId[b.id], b)"/>
        <label for="intensity{{b.id}}">Intensity</label>
      </span>
      <br>
    </div>
    <textarea name="remark" [(ngModel)]="behaviorReportRemark.remarks" rows="5" cols="40"></textarea><br>
  </form>

</div>

