body {
  font-family: 'Arial', sans-serif;
  background-color: #e6e6e6;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.resources-container {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100vw;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #032947d2;
  border-radius: 0;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  overflow: auto;
}





h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #d1dbe5;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

ul {
  list-style-type: none;
  width: calc(100% - 60px);
  padding: 0;
}

ul li {
  background-color: rgba(165, 248, 244, 0.489);
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #043760;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

ul li:last-child {
  margin-bottom: 0;
}

ul li:hover {
  background-color: #f5f2ec;
}

a {
  text-decoration: none;
  color: #043760;
  font-weight: bold;
  display: block;
  text-align: center;
}

a:hover {
  text-decoration: underline;
  color: #8c7365;
}
