<div [ngClass]="flip()">
  <div class="calendar">
    <div class="front" [style]="showFront()">
      <div class="current-date">
        <h1>{{displayDate | date:'MMMM yyyy' }}</h1>
        <span class="calendar-button" (click)="goBackOneMonth()">Back</span>
        <span class="calendar-button" *ngIf="forwardIsPossible()" (click)="goForwardOneMonth()">Forward</span>
      </div>

      <div class="current-month">
        <ul class="week-days">
          <li>MON</li>
          <li>TUE</li>
          <li>WED</li>
          <li>THU</li>
          <li>FRI</li>
          <li>SAT</li>
          <li>SUN</li>
        </ul>

        <div class="weeks">
          <div class="first">
            <span class="last-month" *ngFor="let fwLM of displayMonth.firstWeek.lastMonth">{{fwLM}}</span>
            <span [ngClass]="isToday(fwTM)" *ngFor="let fwTM of displayMonth.firstWeek.thisMonth" (click)="dayClick(fwTM)">{{fwTM | number: '2.0'}}</span>
          </div>

          <div class="second">
            <span [ngClass]="isToday(sw)" *ngFor="let sw of displayMonth.secondWeek" (click)="dayClick(sw)">{{sw | number: '2.0'}}</span>
          </div>

          <div class="third">
            <span [ngClass]="isToday(tw)" *ngFor="let tw of displayMonth.thirdWeek" (click)="dayClick(tw)">{{tw | number: '2.0'}}</span>
          </div>

          <div class="fourth">
            <span [ngClass]="isToday(fw)" *ngFor="let fw of displayMonth.fourthWeek" (click)="dayClick(fw)">{{fw}}</span>
          </div>

          <div class="fifth">
            <span [ngClass]="isToday(fifthW)" *ngFor="let fifthW of displayMonth.fifthWeek.thisMonth" (click)="dayClick(fifthW)">{{fifthW}}</span>
            <span class="last-month" *ngFor="let fwLM of displayMonth.fifthWeek.nextMonth">{{fwLM}}</span>
          </div>
          <div class="sixth">
            <span [ngClass]="isToday(sixthW)" *ngFor="let sixthW of displayMonth.sixthWeek.thisMonth" (click)="dayClick(sixthW)">{{sixthW}}</span>
            <span class="last-month" *ngFor="let fwLM of displayMonth.sixthWeek.nextMonth">{{fwLM}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="back" [style]="showForm()" *ngIf="dayClicked">
      <div class="date-heading"><h1>Check-in for {{displayDate | date: 'longDate':'UTC'}}</h1></div>
      <div class="form">
        <app-check-in [prevBehaviorReports]="displayDateBRs"  [checkInDate]="displayDate"></app-check-in>

      </div>
      <div class="actions">
        <button class="save" (click)="checkinButton()">
          Submit <i class="ion-checkmark"></i>
        </button>
        <button class="dismiss" (click)="closeForm()">
          Dismiss <i class="ion-android-close"></i>
        </button>
      </div>
    </div>

  </div>
</div>
